################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/restaurant-solution/restaurant-api/bin/Debug/net5.0
